# First Program

In [1]:
p = int(input("enter the principal amount : "))
t = int(input("enter the time period : "))
r = float(input("enter the rate of interest : "))
si = p*t*r/100
print("the simple interest is : ",si)

enter the principal amount : 10000
enter the time period : 4
enter the rate of interest : 9
the simple interest is :  3600.0

# Output Using Print

In [8]:
print('''this is the output to the screen''')
a = 5
print('the value of a is : ',a)
print('x :',10,20,30,40)
x = 50; y = 100
print('the value of x {} and y {}'.format(x,y))
print('i love {0} and {1} '.format('bread','jam'))
print('i love {1} and {0}'.format('bread','jam'))

this is the output to the screen
the value of a is :  5
x : 10 20 30 40
the value of x 50 and y 100
i love bread and jam
i love jam and bread

In [14]:
print('hello {name} {greeting}'.format(greeting = 'goodmorning',name = 'karthik k kumar'))

hello karthik k kumar goodmorning

In [18]:
x = 12.34567890
print('the value of x is %3.2f' %x)
print('the value of x is %3.4f' %x)

the value of x is 12.35
the value of x is 12.3457

In [22]:
for x in range(1,11):
    print('{0:2d} {1:3d} {2:4d}'.format( x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [24]:
table = {'karthik':9535415926,'kaka':9902908291,'babu':988049699}
for name,phone in table.items():
    print('{0:10} ==> {1:10d}'.format(name,phone))

karthik    ==> 9535415926
kaka       ==> 9902908291
babu       ==>  988049699

In [1]:
import math
print('the value of pi approximately is %5.3f.' % math.pi)

the value of pi approximately is 3.142.

# Input Using input

In [3]:
x = input('enter a string : ')
print('the entered string is {0}'.format(x))
y = int(input('enter a integer : '))
print('the entered integer is : ',y)
z = float(input('enter a floating point number : '))
print('the entered floating point number is : ',z)

enter a string : karthik k kumar
the entered string is karthik k kumar
enter a integer : 5
the entered integer is :  5
enter a floating point number : 10.98
the entered floating point number is :  10.98

# Multiline Statements

In [4]:
x = ('1' + '2' +
     '3' + '4')
y = '1' + '2' + \
'11' + '12'
weekdays = ['Monday', 'Tuesday', 'Wednesday',
'Thursday', 'Friday']
weekday = {'one':
           'Monday'}
print ('x has a value of', x)
print ('y has a value of', y)
print(weekdays)
print(weekday)

x has a value of 1234
y has a value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'one': 'Monday'}

In [5]:
import os
x = 'hello'
print(x)

hello

# Conditional Execution 
Example code for 'if' statement

In [9]:
var = -1
if var < 0:
    print(var)
    print("the value of var is negative")
if ( var == -1 ) : 
    print("the value of var is negative")

-1
the value of var is negative
the value of var is negative

In [10]:
var = 1
if var < 0:
    print("the value of var is negative")
    print(var)
else:
    print("the value of var is positive")
    print(var)

the value of var is positive
1

In [11]:
score = 95
if score >= 99:
    print('A')
elif score >=75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')
3.0

B

3.0

# Iterations

# Use of for loop

In [1]:
print("first example")
for item in [1,2,3,4,5]:
    print('item :', item)
print("Second Example")
letters = ['A', 'B', 'C']
for index in range(len(letters)):
    print('First loop letter :', letters[index])

first example
item : 1
item : 2
item : 3
item : 4
item : 5
Second Example
First loop letter : A
First loop letter : B
First loop letter : C

In [2]:
count = 0
while (count <3):
    print('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2

# Lists

In [4]:
list_1 = ['statistics', 'programming', 2018, 2019, 2020]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]
print("list_1[0]: ", list_1[0])
print("list2_[1:5]: ", list_2[1:5])

list_1[0]:  statistics
list2_[1:5]:  ['b', 1, 2, 3]

In [5]:
print("list_1 values: ", list_1)
list_1.append(2020)
print("list_1 values post append: ", list_1)

list_1 values:  ['statistics', 'programming', 2018, 2019, 2020]
list_1 values post append:  ['statistics', 'programming', 2018, 2019, 2020, 2020]

In [8]:
print("values of list_1: ", list_1)
print("index 2 value : ", list_1[2])
list_1[2] = 2016;
print("index 2's new value : ", list_1[2])

values of list_1:  ['statistics', 'programming', 2015, 2019, 2020, 2020]
index 2 value :  2015
index 2's new value :  2016

In [10]:
print("list_1 values: ", list_1)
del list_1[5];
print("after deleting value at index 2 : ")

list_1 values:  ['statistics', 'programming', 2016, 2019, 2020, 2020]
after deleting value at index 2 :

# Example for basic List operation

In [28]:
import string 
import operator

list_1 = ['statistics', 'programming', 2018, 2019, 2020]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]

print('length is : ', len(list_1))

print('concatenation : ',[1,2,3,4] + [5,6,7,8,9])

print('repetation : ', ['hello'] *4)

print('membership : ', 3 in [1,2,3,4])

print('iteration : ')
for x in [1,2,3,4,5]:
    print(x)
    
print('slicing : ',list_1[-3])   

print('slice range : ',list_1[1:])

print('max in list : ', max([1,2,3,7,9,90,99]))

print('max in list : ', min([1,2,3,7,9,90,99]))

print('count number of 10 in the list : ', [2,3,4,10,5,6,7,10].count(10))

list_1.extend(list_2)
print(list_1)

print("index for programming:",list_1.index('programming'))
print (list_1)

print("pop last item in list: ", list_1.pop())

print("pop the item with index 2: ", list_1.pop(2))

list_1.remove('b')
print("removed b from list: ", list_1)

list_1.reverse()
print("Reverse: ", list_1)

list_1 = ['a','c','b']
list_1.sort()
print("Sort ascending: ", list_1)

list_1.sort(reverse = True)
print("Sort descending: ", list_1)

length is :  5
concatenation :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
repetation :  ['hello', 'hello', 'hello', 'hello']
membership :  True
iteration :
1
2
3
4
5
slicing :  2018
slice range :  ['programming', 2018, 2019, 2020]
max in list :  99
max in list :  1
count number of 10 in the list :  2
['statistics', 'programming', 2018, 2019, 2020, 'a', 'b', 1, 2, 3, 4, 5, 6, 7]
index for programming: 1
['statistics', 'programming', 2018, 2019, 2020, 'a', 'b', 1, 2, 3, 4, 5, 6, 7]
pop last item in list:  7
pop the item with index 2:  2018
removed b from list:  ['statistics', 'programming', 2019, 2020, 'a', 1, 2, 3, 4, 5, 6]
Reverse:  [6, 5, 4, 3, 2, 1, 'a', 2020, 2019, 'programming', 'statistics']
Sort ascending:  ['a', 'b', 'c']
Sort descending:  ['c', 'b', 'a']

# Tuple

In [2]:
tuple = ()
print("empty tuple: ", tuple)
tuple = (1,)
print("tuple with single item: ", tuple)
tuple = ('a','b','c','d',1,2,3)
print("sample tuple :", tuple)

empty tuple:  ()
tuple with single item:  (1,)
sample tuple : ('a', 'b', 'c', 'd', 1, 2, 3)

In [5]:
tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("3rd item of tuple:", tuple[2])
print("first 3 items of tuple", tuple[0:3])

3rd item of tuple: c
first 3 items of tuple ('a', 'b', 'c')

In [9]:
tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("sample tuple: ", tuple)
del tuple
print(tuple)

sample tuple:  ('a', 'b', 'c', 'd', 1, 2, 3)
<class 'tuple'>

In [14]:
tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("length of tuple: ", len(tuple))
tuple_concat = tuple + (7,8,9)
print("concatinated tuple: ", tuple_concat)

print("repetition: ", (1,'a',2, 'b') * 3)
print("membership check: ", 3 in (1,2,3))

for x in (1, 2, 3): print(x)
print("negative sign will retrieve item from right: ", tuple_concat[-2])
print("sliced tuple [2:] ", tuple_concat[2:])

print("max of the tuple (1,2,3,4,5,6,7,8,9,10): ",
max((1,2,3,4,5,6,7,8,9,10)))

print("min of the tuple (1,2,3,4,5,6,7,8,9,10): ",
min((1,2,3,4,5,6,7,8,9,10)))

length of tuple:  7
concatinated tuple:  ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
repetition:  (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
membership check:  True
1
2
3
negative sign will retrieve item from right:  8
sliced tuple [2:]  ('c', 'd', 1, 2, 3, 7, 8, 9)
max of the tuple (1,2,3,4,5,6,7,8,9,10):  10
min of the tuple (1,2,3,4,5,6,7,8,9,10):  1

# Dictionary

In [16]:
dict = {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
print("sample dictionary: ", dict)

sample dictionary:  {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}

In [17]:
print("value of key name, from sample dictionary:", dict['Name'])

value of key name, from sample dictionary: Karthik

In [21]:
dict0 = {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
print("sample dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1
del (dict0['Name'])

print("sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
dict0.clear() 
print("dict post dict.clear():", dict0)

dict = {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
del (dict0)

sample dictionary:  {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
1 Name Karthik
2 Age 21
3 Class Fourth Year
sample dictionary post deletion of item Name: {'Age': 21, 'Class': 'Fourth Year'}
dict post dict.clear(): {}

In [23]:
dict = {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
print("length of dict: ", len(dict))

dict1 = dict.copy()
print("copy:\n",dict1)

print("value for age: ", dict.get('Age'))

print("dict items: ", dict.items())


print("dict keys: ", dict.keys())


print("value of dict: ", dict.values())


dict1 = {'Name': 'Karthik', 'Age': 21}

dict2 = {'Sex': 'male' }

dict1.update(dict2)
print("dict1.update(dict2) = ", dict1)

length of dict:  3
copy:
 {'Name': 'Karthik', 'Age': 21, 'Class': 'Fourth Year'}
value for age:  21
dict items:  dict_items([('Name', 'Karthik'), ('Age', 21), ('Class', 'Fourth Year')])
dict keys:  dict_keys(['Name', 'Age', 'Class'])
value of dict:  dict_values(['Karthik', 21, 'Fourth Year'])
dict1.update(dict2) =  {'Name': 'Karthik', 'Age': 21, 'Sex': 'male'}

# User Defined Function

In [25]:
def somefunction():
    print("Hello World")


somefunction()

Hello World

In [26]:
def sum_two_numbers(x, y):
        return x + y


print(sum_two_numbers(1,2))

3

In [27]:
x = 10

def sum_two_numbers(y):
    return x + y

print(sum_two_numbers(10))

20

In [28]:
def sample_function(*args):
    for a in args:
        print(a)

sample_function(1,2,3)

1
2
3

In [29]:
def sample_function(**args):
    for a in args:
        print(a, args[a])

sample_function(name='Karthik', age=21)

name Karthik
age 21

In [33]:
def add(a, b): 
    return a + b
print("function add :",add(1,2))

add = lambda u, v : u + v 
print("lamda add :",add(1,2))

function add : 3
lamda add : 3